body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg {
    position: absolute;
    height: 0;
    width: 0;
}

.calculator {
    background-image: url("graphics/testCalculator.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1000px;
    width: 800px;
}

@font-face {
    font-family: digital7;
    src: url(digital-7.monoitalic.ttf);
}

.subScreen {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family: digital7;
    text-align: right;
    font-size: 30px;
    position: relative;
    left: 351px;
    top: 136px;
    height: 0px;
    width: 363px;
    transform: rotate(9.5deg);
}


.screen {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family: digital7;
    text-align: right;
    font-size: 87px;
    position: relative;
    left: 319px;
    top: 127px;
    height: 114px;
    width: 383px;
    transform: rotate(9.5deg);
}

.clearButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 262px;
    top: 174px;
    height: 119px;
    width: 207px;
    background-image: url("graphics/clearButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .2s;
}

.clearText {
    font-family: 'Kalam', cursive;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    left: -38px;
    top: -28px;
    height: 0;
    width: 0;
    transform: rotate(10.5deg);
    cursor: default;
    user-select: none;
}

.calcButton {
    height: 110px;
    width: 110px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .05s;
    clip-path: polygon(0% 0%, 1% 81%, 80% 95%, 109% 14%, 72% 0%);
}

#button7 {
    background-image: url("graphics/button7.svg");
    left: 217px;
    top: 141px;
    transform: scaleX(1.01);
}

#button8 {
    background-image: url("graphics/button8.svg");
    left: 321px;
    top: 55px;
    transform: scaleX(1.01);
}

#button9 {
    background-image: url("graphics/button9.svg");
    left: 433px;
    top: -33px;
    transform: scaleX(1.01);
}

#divButton {
    background-image: url("graphics/divButton.svg");
    left: 544px;
    top: -123px;
    transform: scaleX(1.01);
}

#button4 {
    background-image: url("graphics/button4.svg");
    left: 172px;
    top: -193px;
    transform: scaleX(1.01);
}

#button5 {
    background-image: url("graphics/button5.svg");
    left: 276.5px;
    top: -279px;
    transform: scaleX(1.01);
}

#button6 {
    background-image: url("graphics/button6.svg");
    left: 388.4px;
    top: -366px;
    transform: scaleX(1.01);
}

#multButton {
    background-image: url("graphics/multButton.svg");
    left: 499.3px;
    top: -456px;
    transform: scaleX(1.01);
}

#button1 {
    background-image: url("graphics/button1.svg");
    left: 128.5px;
    top: -525px;
    transform: scaleX(1.01);
}

#button2 {
    background-image: url("graphics/button2.svg");
    left: 232.5px;
    top: -611.5px;
    transform: scaleX(1.01);
}

#button3 {
    background-image: url("graphics/button3.svg");
    left: 344.5px;
    top: -698.2px;
    transform: scaleX(1.01);
}

#subButton {
    background-image: url("graphics/subButton.svg");
    left: 455.5px;
    top: -789px;
    transform: scaleX(1.01);
}

#button0 {
    background-image: url("graphics/button0.svg");
    left: 84.1px;
    top: -859px;
    transform: scaleX(1.01);
}

#periodButton {
    background-image: url("graphics/periodButton.svg");
    left: 188px;
    top: -945px;
    transform: scaleX(1.01);
}

#equalButton {
    background-image: url("graphics/equalButton.svg");
    left: 299.6px;
    top: -1031.6px;
    transform: scaleX(1.01);
}

#plusButton {
    background-image: url("graphics/plusButton.svg");
    left: 410.5px;
    top: -1121.2px;
    transform: scaleX(1.01);
}

.calcButtonHover:hover {
    background-position-y: +10px;
}

.buttonHover:hover {
    text-shadow: 0 0 3px #FF0000;
}

@keyframes fullClickAnimation {
    to {background-position-y: +15px;}
}

.fullClick {
    animation-name: fullClickAnimation;
    animation-duration: .1s;
}

@keyframes clickAnimation {
    0% {}
    50% {transform: scale(.97);}
    100% {}
}

.clickAnimation {
    animation-name: clickAnimation;
    animation-duration: .2s;
}

@keyframes blinkAnimation {
    0% {opacity: 1;}
    20% {opacity: .5;}
    40% {opacity: 0;}
    60% {opacity: .5;}
    80% {opacity: 1;}
}

.blink {
    animation-name: blinkAnimation;
    animation-duration: .7s;
    animation-iteration-count: 2;
}